---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('19 Feb 2026')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Test 1: Trying to figure out where this fall.
	</p>

	<p>
		Test 2: And this, where are you?
	</p>

	<p>
		Test 3: Knock knock.
	</p>

	<p>
		Test 4: And you...
	</p>

	<p>
		Test 5: And finally you.
	</p>
</Layout>
